@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Page flip is here because tailwind doesn't support rotate-y */

.page {
  perspective: 1000px;
}

.page__front {
  backface-visibility: hidden;
}

.page__back__content {
  transform: rotateY(180deg);
}

.flipped.page__front,
.flipped.page__back {
  transform: rotateY(-180deg);
}

.flipped.page {
  transform: rotateY(180deg);
}
