@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
}

:root {
  --bg-color: 235, 236, 240;

  --shadow-color: 192, 184, 200;

  --secondary-shadow-color: 255, 255, 255;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(var(--bg-color));
}

/* PAGE FLIP */
/* Page flip is here because tailwind doesn't support rotate-y */

.page {
  perspective: 1000px;
}

.test {
  border-radius: 50%;
}

.test-2 {
  border-radius: 50%;
}

.page__front {
  backface-visibility: hidden;
  border-top-right-radius: 100px;
  border-top-left-radius: 50px;
}

.lastpage__content {
  border-top-right-radius: 100px;
  border-top-left-radius: 50px;
}

#page-3,
#page-2,
#page-1,
.book {
  border-top-right-radius: 100px;
  border-top-left-radius: 50px;
}

.page__back {
  border-top-right-radius: 100px;
  border-top-left-radius: 50px;
}

.page__back__content {
  transform: rotateY(180deg);
}

.flipped.page__front,
.flipped.page__back {
  transform: rotateY(-180deg);
}

.flipped.page {
  transform: rotateY(180deg);
}

.test {
  box-shadow: 0px -1px 0px 0px #000, 0px -3px 0px 0px #fff,
    0px -5px 0px 0px #000;
}

.link {
  border-radius: 150px;
  background: #e0e0e0;
  box-shadow: 16px 16px 32px #bebebe, -16px -16px 32px #ffffff;
}

/* RIPPLE animation */

.ripple,
.top {
  aspect-ratio: 1;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  box-shadow: 0.4rem 0.4rem 0.8rem rgb(var(--shadow-color)),
    -0.4rem -0.4rem 0.8rem rgb(var(--secondary-shadow-color));
}

.ripple {
  position: absolute;
  top: 0;
}

.top {
  z-index: 4;
  background-color: rgb(var(--bg-color));
  background-image: linear-gradient(
    -45deg,
    rgb(var(--secondary-shadow-color), 0.3),
    rgb(var(--shadow-color), 0.2)
  );
  cursor: pointer;
  transition: box-shadow 200ms;
  display: grid;
  place-items: center;
}

.top:hover {
  box-shadow: 0.8rem 0.8rem 1rem rgb(var(--shadow-color)),
    -0.8rem -0.8rem 1rem rgb(var(--secondary-shadow-color));
}

.activate-ripple:hover > .ripple {
  animation: ripple 3s linear infinite;
}

.paused {
  animation-play-state: paused !important;
}

#i1 {
  z-index: 3;
}

#i2 {
  animation-delay: 2s;
  z-index: 2;
}

#i3 {
  animation-delay: 1s;
  z-index: 1;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/* GAME */

.game-container canvas {
  image-rendering: pixelated;
}
