@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Page flip is here because tailwind doesn't support rotate-y */

.page {
  perspective: 1000px;
}

.test {
  border-radius: 50%;
}

.test-2 {
  border-radius: 50%;
}

.page__front {
  backface-visibility: hidden;
  border-top-right-radius: 100px;
  border-top-left-radius: 50px;
}

.lastpage__content {
  border-top-right-radius: 100px;
  border-top-left-radius: 50px;
}

#page-3,
#page-2,
#page-1,
.book {
  border-top-right-radius: 100px;
  border-top-left-radius: 50px;
}

.page__back {
  border-top-right-radius: 100px;
  border-top-left-radius: 50px;
}

.page__back__content {
  transform: rotateY(180deg);
}

.flipped.page__front,
.flipped.page__back {
  transform: rotateY(-180deg);
}

.flipped.page {
  transform: rotateY(180deg);
}

.test {
  box-shadow: 0px -1px 0px 0px #000, 0px -3px 0px 0px #fff,
    0px -5px 0px 0px #000;
}
